* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: purple;
}
/* displaying timer and previous high score */

body{
  background-image: url("C:/Users/Owner/Documents/UCF/challenges/code-quiz/assets/images/cubes.jpg");
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin: 0 5px;
  padding: 0 5px;
}

header h1 {
  font-weight: 100;
}

/* start page */

.title{
  text-align: center;
}

.title h3 {
  font-size: 32px;
}

.container {
  text-align: center;
}

.start {
  visibility: visible;
}

.instructions {
  text-align: center;
  font-size: 22px;
  background-color: seashell;
  border-style: solid;
  border-color: purple;
}

/* questions and answers */

.quiz-content {
  justify-content: center;
  margin: 75px;
  text-align: center;
}

.quiz-question {
  font-size: 38px;
  width: 50%;
  margin: auto;
}

.quiz-answers {
  width: 50%;
  margin: auto;
}

.list-choice {
  list-style: none;
}